body{
  background-color:rgb(5, 153, 18);
}

h1{
  margin-top: 60px;
  background: linear-gradient(to right, rgb(5, 153, 18), rgb(132, 4, 132),rgb(7, 7, 121));
  -webkit-background-clip: text;

  -webkit-text-fill-color:transparent;
  padding: 20px;
}

@media (max-width:800px) {
  h1{
   font-size: 24px;
  }
}

h4{
  color: green;
}
#div1{
  display: flex;
  align-items: center;
  justify-content: center;
   flex-direction: column;
  
}
img{ align-items: center;
  justify-content: center;
  width: 300px;
height: 300px;
 

}

button{
  align-items: center;
  justify-content: center;
  width: 200px;
  border: 2px solid green;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
 cursor: pointer;
 background: linear-gradient(to right,rgb(176, 247, 176),rgb(0, 255, 0),rgb(0, 61, 0));
}
